.auth-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.auth-box {
  background: rgba(140, 202, 191, 0.6);
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  color: rgb(23, 23, 23);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #2ecc71;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.success {
  color: #22ec76;
  margin-top: 10px;
}

span {
  color: #71eba4;
  cursor: pointer;
}
